<mat-form-field appearance="outline" class="auto-complete-field">

  <mat-label>{{label}}</mat-label>
  <input type="text" placeholder="Digite o nome do dispositivo" matInput [formControl]="control" [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      <div fxLayout="row" fxLayoutGap="16px">
          <mat-icon class="device-icon">settings_cell</mat-icon>
          <div>{{option.id + ' - ' + option.name}}</div>
      </div>      
    </mat-option>
  </mat-autocomplete>

</mat-form-field>
