.mat-column-signedUser {
    text-overflow: ellipsis;
    overflow-x: hidden;
    word-wrap: none;
    white-space: nowrap;    
}

.mat-column-actionDescription {
    padding-right: 8px;
    padding-left: 8px;    
}
