<form novalidate class="container" [formGroup]="form" (ngSubmit)="changePassword(form.value)" autocomplete="off">

  <div class="body-content-top">
    <section class="body-wrapper">
        
      <div class="headline" fxLayout>
          <button mat-icon-button routerLink="/">
              <mat-icon>arrow_back</mat-icon>
          </button>
          <div class="mat-h1" i18n="@@ChangePassword">Change password</div>      
      </div>
      
      <div fxLayout fxLayoutGap="24px">
                      
        <div *ngIf="!passwordChanged" fxLayout="column" fxLayoutGap="16px" fxFlex="1 1 100%">

          <mat-form-field appearance="outline" style="max-width: 450px;">
            <mat-label i18n="@@Old_password">Old password</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="oldPassword">          
          </mat-form-field>

          <mat-form-field appearance="outline" style="max-width: 450px;">
            <mat-label i18n="@@New_password">New password</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="newPassword">
            <mat-error *ngIf="!form.controls.newPassword.valid" i18n="@@password_rules">
                Must have at least one lowercase, one uppercase, one digit and one non alphanumeric character.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" style="max-width: 450px;">
            <mat-label i18n="@@Confirm_password">Confirm password</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="confirmPassword">      
            <mat-error *ngIf="!form.controls.confirmPassword.valid" i18n="@@password_rules">
              Must have at least one lowercase, one uppercase, one digit and one non alphanumeric character.
            </mat-error>    
          </mat-form-field>

        </div>

        <div *ngIf="passwordChanged" fxLayout="column" fxLayoutGap="16px" fxFlex="1 1 100%">
          <p i18n="@@Your_password_was_changed">Your password was changed.</p>
        </div>


      </div>  
      

    </section>
  </div>

  <section class="body-wrapper body-content-bottom" fxLayout="row" fxLayoutGap="16px">
      <svg class="mark"><circle cx="16" cy="16" r="16" /></svg>
      <button mat-raised-button color="primary" i18n="@@save_button" type="submit" fxFlexLayout="start">apply</button>
      <button mat-button i18n="@@back_button" fxFlexLayout="start" type="button" routerLink="/">back</button>
  </section>
</form>