@using System.Linq
@using Box.Security.Models
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization

@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization


@inject IStringLocalizer<Box.Common.Strings> Strings
@inject IHtmlLocalizer<Box.Common.Strings> HTMLs

@{
    Layout = "~/Views/Shared/_CardLayout.cshtml";    
    ViewData["Title"] = Strings["Forgot your password?"];    
}

   
@HTMLs["Please check your email to reset your password."]

<p>
    <a asp-action="Login">@Strings["Sign in"]</a>
</p>
