@using System.Linq
@using Box.Security.Models
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Box.Common.Strings> Strings
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = Strings["Forgot your password?"];        
    Layout = "~/Views/Shared/_CardLayout.cshtml";    
}

<h5 class="card-title">@Strings["Enter your email"]</h5>

<form asp-action="ForgotPassword" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group bmd-form-group formgroup-withValidation">
        <label asp-for="Email" class="bmd-label-floating"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger form-field-error"></span>
    </div>

    <div class="form-group bmd-form-group"  style="padding-top:10px;">
        <button type="submit" class="btn btn-raised btn-primary">@Strings["Submit"]</button>
        <button type="button" class="btn btn-default" onclick='window.location = "@Url.Action("Login", "Account")";'>@Strings["Cancel"]</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
