@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Box.Common.Strings> Strings
@{
    Layout = "~/Views/Shared/_CardLayout.cshtml";
    ViewData["Title"] = Strings["Locked out account"];
}


<p class="text-danger">@Strings["This account has been locked out, please try again later."]</p>
<p>
    <a asp-action="login">@Strings["return to login page"]</a>
</p>

