@using System.Linq
@using Box.Security.Models
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Box.Common.Strings> Strings
@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_CardLayout.cshtml";
    ViewData["Title"] = Strings["Reset password"];
}

<p>
    @Strings["Your password has been reset."]
</p>
<p>
    <a asp-action="Login">@Strings["Sign in"]</a>
</p>
