<form novalidate class="container" [formGroup]="form" autocomplete="off">
  <div class="body-content-top">
    <section class="body-wrapper">

      <div class="headline" fxLayout>
        <button mat-icon-button routerLink="">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="mat-h1">{{pageTitle}}</div>

        <div class="buttonBoxArea right" *ngIf="dashboard.deviceId!=''">
          <button mat-raised-button color="primary" (click)="cleanUpdateData()">
            <mat-icon>autorenew</mat-icon>
            <span>Atualizar informações</span>
          </button>
        </div>
      </div>


      <div fxLayout="column">

        <!-- MOBILE -->
        <mat-card *ngIf="isMobile">
          <mat-card-header fxFlex="100%">
            <div style="padding-right: 35px;">
              <img src="{{'../../../assets/' + getNameLogoClient + '.png'}}" class="image-avatar" />
            </div>
            <div class="title-page">
              <p>
                <strong>{{userName}}</strong>
              </p>
              <p *ngIf="showDashboard">
                <strong>Informações de Campo</strong>
              </p>
            </div>
            <p>
              <strong *ngIf="!showDashboard" style="color: red; font-size: 16px;">Nenhuma informação encontrada para o
                dispositivo selecionado.</strong>
            </p>
          </mat-card-header>
        </mat-card>

        <!-- MOBILE -->
        <mat-card *ngIf="isMobile" style="margin-top: 15px;height: 170px;">
          <div class="title-page">
            <p class="icon-text" *ngIf="showDashboard">
              <mat-icon style="vertical-align: bottom;">timelapse</mat-icon>
              <label style="margin-left: 5px;">Última Atualização {{dashboard.date | date: 'dd/MM/yyyy HH:mm:ss'}}</label>
            </p>
          </div>

          <mat-form-field floatLabel="never" appearance="outline" fxFlex="270px" style="bottom: -35px;">
            <mat-label style="font-size: 14px;">Selecione uma data</mat-label>
            <lib-datetime-picker readonly formControlName="dateFilter"></lib-datetime-picker>
          </mat-form-field>

          <div class="buttons_back_forward_mobile">
            <button mat-raised-button color="primary" (click)="back()" class="button_back">
              <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-raised-button color="primary" (click)="next()">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </mat-card>


        <!-- DESKTOP -->
        <mat-card *ngIf="!isMobile">
          <mat-card-header fxFlex="75%" style="margin-bottom: 20px;">

            <div style="padding-right: 35px; margin-top: 22px;">
              <img src="{{'../../../assets/' + getNameLogoClient + '.png'}}" class="image-avatar" />
            </div>

            <div class="title-page">
              <p>
                <strong>{{userName}}</strong>
              </p>
              <p *ngIf="showDashboard">
                <strong>Informações de Campo</strong>
              </p>
              <p class="icon-text" *ngIf="showDashboard">
                <mat-icon style="vertical-align: bottom;">timelapse</mat-icon>
                <label style="margin-left: 5px;">Última Atualização {{dashboard.date | date: 'dd/MM/yyyy HH:mm:ss'}}</label>
              </p>
              <p>
                <strong *ngIf="!showDashboard" style="color: red; font-size: 16px;">Nenhuma informação encontrada para o
                  dispositivo selecionado.</strong>
              </p>
            </div>
          </mat-card-header>

          <mat-form-field floatLabel="never" appearance="outline" fxFlex="270px">
            <mat-label style="font-size: 14px;">Selecione uma data</mat-label>
            <lib-datetime-picker readonly formControlName="dateFilter"></lib-datetime-picker>
          </mat-form-field>

          <div class="buttons_back_forward">
            <button mat-raised-button color="primary" (click)="back()" class="button_back">
              <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-raised-button color="primary" (click)="next()">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>

        </mat-card>

        <app-serial-model [deviceId]="deviceId"></app-serial-model>





        <!-- PACOTE SUPERIOR -->
        <div class="div-title-alerts" style="width: 50%;" *ngIf="dashboard.mCond.packSup != null">
          <div class="div-title-alerts" style="border: solid black 1px;padding: 10px;width: auto;">
            <h3>Caixa Superior</h3>

            <div style="width: 100%;display: flex;">
              <div style="width: 50%;">
                <strong class="value-info">{{dashboard.mCond.supLevelLitros | number: '1.2-2'}} <label style="font-size: small;">Litros</label></strong>
              </div>

              <div style="float: right;display: flex;">
                <div class="{{dashboard.mCond.alarmeSupNameClass}}"></div>
                <span style="margin-left: 15px">{{dashboard.mCond.alarmeSupText}}</span>
              </div>
            </div>

            <div style="width: 100%;display: flex;margin-top: 10px;">
              <div style="width: 50%;">
                <strong class="value-info"></strong>
              </div>

              <div style="float: right;display: flex;">
                <div class="{{dashboard.mCond.supStateBombNameClass}}"></div>
                <span style="margin-left: 15px">{{dashboard.mCond.supStateBombText}}</span>
              </div>
            </div>

          </div>
        </div>


        <br>


        <!-- PACOTE INFERIOR -->
        <div class="div-title-alerts" style="width: 50%;" *ngIf="dashboard.mCond.packInf != null">
          <div class="div-title-alerts" style="border: solid black 1px;padding: 10px;width: auto;">
            <h3>Caixa Inferior</h3>

            <div style="width: 100%;display: flex;">
              <div style="width: 50%;">
                <strong class="value-info">{{dashboard.mCond.infLevelLitros | number: '1.2-2'}} <label style="font-size: small;">Litros</label></strong>
              </div>

              <div style="float: right;display: flex;">
                <div class="{{dashboard.mCond.alarmeInfNameClass}}"></div>
                <span style="margin-left: 15px">{{dashboard.mCond.alarmeInfText}}</span>
              </div>
            </div>

          </div>
        </div>


        <br>


        <!-- PACOTE PORTARIA -->
        <div class="div-title-alerts" style="width: 50%;" *ngIf="dashboard.mCond.packPort != null">
          <div class="div-title-alerts" style="border: solid black 1px;padding: 10px;width: auto;">
            <h3>Alarmes</h3>

            <div style="width: 100%;display: flex;">
              <div style="float: right;display: flex;">
                <div class="{{dashboard.mCond.portFireAlarmNameClass}}"></div>
              </div>
            </div>

            <br>

            <div style="width: 100%;display: flex;">
              <div style="float: right;display: flex;">
                <div class="{{dashboard.mCond.portFireStateNameClass}}"></div>
                <span style="margin-left: 15px">Incêndio - ({{dashboard.mCond.portFireStateText}})</span>
              </div>
            </div>

            <br>

            <div style="width: 100%;display: flex;">
              <div style="float: right;display: flex;">
                <div class="{{dashboard.mCond.portIvaAlarmNameClass}}"></div>
              </div>
            </div>

            <br>

            <div style="width: 100%;display: flex;">
              <div style="float: right;display: flex;">
                <div class="{{dashboard.mCond.portIvaStateNameClass}}"></div>
                <span style="margin-left: 15px">IVA - ({{dashboard.mCond.portIvaStateText}})</span>
              </div>
            </div>

          </div>
        </div>


      </div>
    </section>
  </div>

  <h2 *ngIf="dashboard===null">Nenhuma informação encontrada para o disposivo selecionado.</h2>

  <section class="body-wrapper body-content-bottom" fxLayout="row" fxLayoutGap="16px">
    <svg class="mark">
      <circle cx="16" cy="16" r="16" />
    </svg>
    <button mat-button fxFlexLayout="start" type="button" routerLink="">voltar</button>
  </section>
</form>