<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="body-content-top">
    <section class="body-wrapper">
            <div class="headline" fxLayout>
                <button mat-icon-button [routerLink]="backLink">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div class="mat-h1">{{pageTitle}}</div>
        
                <div class="buttonBoxArea right">
                    <button mat-button type="button" color="primary" (click)="openConfirmDeleteDialog()" *ngIf="!isNewContent"
                        appRequiredRoles="CONTENT.WRITE">
                        <mat-icon>delete</mat-icon>
                        <span i18n="@@delete_button">Remove</span>
                    </button>
                    <button mat-button type="button" color="primary" [matMenuTriggerFor]="moreMenu"
                        appRequiredRoles="CONTENT.WRITE">
                        <mat-icon>more_vert</mat-icon>                
                    </button>
                </div>
            </div>
        
            <mat-menu #moreMenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item i18n="@@moveto_button" (click)="showPanel('change_location')">Change location</button>
                <button mat-menu-item i18n="@@orderby_button" (click)="showPanel('change_order')">Change priority</button>    
                <button mat-menu-item i18n="@@publish_button" (click)="showPanel('publish')">Publication</button> 
                <button mat-menu-item i18n="@@crosslinks_button" (click)="showPanel('crosslinks')">Crosslinks</button> 
            </mat-menu>
        
            
        
                <label class="current-location">{{currentLocation}}</label>
        
                <div *ngIf="!isPublished" i18n="@@not_published_warning" class="mat-warn-bgcolor not-published">This content is not published yet.</div>
        
                <!-- TAGS -->
                <mat-form-field class="tag-list">
                    <mat-chip-list #tagList>
                        <mat-chip
                        *ngFor="let tag of contentTags"
                        selectable="false" removable="true"
                        (removed)="removeTag(tag)"
                        [ngClass]="tag.bgColorCss">
                        {{tag.tag}}
                        <mat-icon matChipRemove [ngClass]="tag.bgColorCss">cancel</mat-icon>
                        </mat-chip>
                        <input
                        placeholder="Tags ..." i18n-placeholder="@@add_tag"
                        #tagInput
                        [formControl]="tagsCtrl"
                        [matAutocomplete]="tagsAutoComplete"
                        [matChipInputFor]="tagList"
                        [matChipInputSeparatorKeyCodes]="tagSeparatorKeysCodes"
                        [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="addTag($event)">
                    </mat-chip-list>
                    <mat-autocomplete #tagsAutoComplete="matAutocomplete" (optionSelected)="isTagSelected($event)">
                        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                        {{tag}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
        
                <!-- FORM TEMPLATE -->
                <ng-container #kindCaptureForm></ng-container>
        
                <!-- PANEL -->
                <div id="right-panel" class="right-panel mat-elevation-z4" fxLayout="column" *ngIf="selectedPanel!=null">
        
                    
                    <mat-icon class="close-button" (click)="closePanel()">close</mat-icon>
                    
                    
                    <!-- LOCATION PANEL -->
                    <div *ngIf="selectedPanel == 'change_location'">
                        <h2 i18n="@@moveto_header">Select a new location for this content</h2>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label i18n="@@Location">Location</mat-label>
                            <mat-select formControlName="changeLocation">
                                <mat-option *ngFor="let location of locations" [value]="location">
                                    {{location}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
        
                    <!-- ORDER PANEL -->
                    <div *ngIf="selectedPanel == 'change_order'" fxLayout="column">
                        <h2 i18n="@@change_order_header">Select how to order this content</h2>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label i18n="@@Priority">Priority</mat-label>
                            <input matInput type="number" formControlName="displayOrder">
                            <mat-error *ngIf="form.controls.displayOrder.invalid" i18n="@@required_number_field">This field is required and should be a number</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label i18n="@@Content_date">Content date</mat-label>
                            <lib-datetime-picker formControlName="contentDate"></lib-datetime-picker>
                        </mat-form-field>                
                    </div>
        
                    <!-- PUBLISH PANEL -->
                    <div *ngIf="selectedPanel == 'publish'" fxLayout="column">
                        <h2 i18n="@@publish_header">This content will be published</h2>                
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label i18n="@@Publish_after">After</mat-label>
                            <lib-datetime-picker formControlName="publishAfter"></lib-datetime-picker>
                        </mat-form-field>              
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label i18n="@@Publish_until">Until</mat-label>
                            <lib-datetime-picker formControlName="publishUntil"></lib-datetime-picker>
                        </mat-form-field>              
                        <button type="button" i18n="@@unpublish" mat-button color="primary" (click)="unpublish()" class="unpublish-button">unpublish</button>            
                    </div>
        
                    <!-- CROSS LINKS -->
                    <div *ngIf="selectedPanel == 'crosslinks'" fxLayout="column">
                        <h2 i18n="@@crosslinks_header">This content will also apper at</h2>                
                        <mat-button-toggle-group name="linkAreas" multiple vertical>
                            <mat-button-toggle *ngFor="let area of crosslinksAreas" [value]="area.area"
                            [checked]="isAtCrosslink(area.area)"
                            (change)="addRemoveCrosslink($event)">{{area.area}}</mat-button-toggle>                    
                        </mat-button-toggle-group>         
                    </div>
        
                </div>
        
    </section>
</div>


<section class="body-wrapper body-content-bottom" fxLayout="row" fxLayoutGap="16px">
    <svg class="mark"><circle cx="16" cy="16" r="16" /></svg>    
    <button mat-raised-button type="submit" color="primary" i18n="@@save_button" fxFlexLayout="start" appRequiredRoles="CONTENT.WRITE">apply</button>
    <button mat-button i18n="@@save_and_pub_button" fxFlexLayout="start" type="button" appRequiredRoles="CONTENT.WRITE" (click)="saveAndPublish()">apply & publish</button>
    <button mat-button i18n="@@back_button" fxFlexLayout="start" type="button" [routerLink]="backLink">back</button>    
</section>

<app-files-list #fileList></app-files-list>

</form>