<div class="body-content">
  <section class="body-wrapper">

    <div class="headline" fxLayout>
      <!-- <button mat-icon-button routerLink="/radiodados/relatorio">
        <mat-icon>arrow_back</mat-icon>
      </button> -->
      <div class="mat-h1">Relatório</div>
      <div class="buttonBoxArea right">
        <button mat-button type="button" color="primary" (click)="cleanFilterDate()" [disabled]="!form.valid">
          <mat-icon>clear</mat-icon>
          <span>Limpar datas</span>
        </button>
        <button mat-button color="primary" (click)="printReport()" [disabled]="!form.valid || results.length==0">
          <mat-icon>print</mat-icon>
          <span>Imprimir</span>
        </button>
        <button mat-button type="button" color="primary" (click)="exportToExcel()" [disabled]="!form.valid || results.length==0">
          <mat-icon>cloud_download</mat-icon>
          <span>Exportar</span>
        </button>
        <button type="submit" mat-raised-button type="button" color="primary" (click)="searchReports()"
          [disabled]="!form.valid">
          <mat-icon>visibility</mat-icon>
          <span>Visualizar</span>
        </button>
        <button mat-button color="primary" class="filterBoxAreaButton" title="filter"
          (click)="showFilters = !showFilters;">
          <mat-icon>tune</mat-icon>
          <span>filter</span>
        </button>
      </div>
    </div>
    <p>Informe os campos obrigatórios e depois clique em <b>Visualizar</b> para ver o relatório.</p>

    <form *ngIf="showFilters" [formGroup]="form" class="container filterBoxArea preserve-margin" fxLayout
      fxLayoutGap="10px" fxLayout.xs="column">
      
      <app-device-select project="{{currentProject}}" [control]="form.controls.deviceFilter"></app-device-select>

      <mat-card-content fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
        <mat-form-field appearance="outline">
          <mat-label>De</mat-label>
          <mat-datepicker-toggle matPrefix [for]="startPicker"></mat-datepicker-toggle>
          <input matInput [matDatepicker]="startPicker" formControlName="startPeriod">
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Até</mat-label>
          <mat-datepicker-toggle matPrefix [for]="endPicker"></mat-datepicker-toggle>
          <input matInput [matDatepicker]="endPicker" formControlName="endPeriod" placeholder="Até">
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </mat-card-content>

    </form>

    <div *ngIf="results.length > 0" class="container">
      <mat-table [dataSource]="results" class="mat-elevation-z4" style="margin-bottom: 20px; clear:both;">

        <ng-container matColumnDef="date">
          <mat-header-cell fxFlex="10%" *matHeaderCellDef>Data</mat-header-cell>
          <mat-cell fxFlex="10%" *matCellDef="let element" class="small-font">
            {{element.date | date: 'dd/MM/yyyy'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hour">
          <mat-header-cell fxFlex="8%" *matHeaderCellDef>Hora</mat-header-cell>
          <mat-cell fxFlex="8%" *matCellDef="let element" class="small-font">
            {{element.date | date: 'HH:mm'}}
          </mat-cell>
        </ng-container>


        <!-- PACOTE SUPERIOR -->
        <!-- <div *ngIf="results[0].packSup!==null"> -->
          
          <ng-container matColumnDef="supLevel">
            <mat-header-cell fxFlex="16%" *matHeaderCellDef class="align-center">Nível Superior (litros)</mat-header-cell>
            <mat-cell fxFlex="16%" *matCellDef="let element" class="align-center">
              {{element.supLevelLitros | number: '1.0-0'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="supAlertMax">
            <mat-header-cell fxFlex="16%" *matHeaderCellDef class="align-center">Alerta Alto</mat-header-cell>
            <mat-cell fxFlex="16%" *matCellDef="let element" class="align-center">
              {{!element.supAlarmLevelMax ? 'Não' : 'Sim'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="supAlertMin">
            <mat-header-cell fxFlex="16%" *matHeaderCellDef class="align-center">Alerta Baixo</mat-header-cell>
            <mat-cell fxFlex="16%" *matCellDef="let element" class="align-center">
              {{!element.supAlarmLevelMin ? 'Não' : 'Sim'}}
            </mat-cell>
          </ng-container>

        <!-- </div> -->

        <!-- PACOTE PORTARIA -->
        <!-- <div *ngIf="results[0].packInf!==null"> -->
          
          <ng-container matColumnDef="infLevel">
            <mat-header-cell fxFlex="16%" *matHeaderCellDef class="align-center">Nível Inferior (litros)</mat-header-cell>
            <mat-cell fxFlex="16%" *matCellDef="let element" class="align-center">
              {{element.infLevelLitros | number: '1.0-0'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="infAlertMax">
            <mat-header-cell fxFlex="16%" *matHeaderCellDef class="align-center">Alerta Alto</mat-header-cell>
            <mat-cell fxFlex="16%" *matCellDef="let element" class="align-center">
              {{!element.infAlarmLevelMax ? 'Não' : 'Sim'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="infAlertMin">
            <mat-header-cell fxFlex="16%" *matHeaderCellDef class="align-center">Alerta Baixo</mat-header-cell>
            <mat-cell fxFlex="16%" *matCellDef="let element" class="align-center">
              {{!element.infAlarmLevelMin ? 'Não' : 'Sim'}}
            </mat-cell>
          </ng-container>

        <!-- </div> -->

        

        <!-- RELATÓRIO ANALÍTICO -->
        <!-- <div *ngIf="results[0].packPort!==null"> -->

          <ng-container matColumnDef="portFireAlarm">
            <mat-header-cell fxFlex="16%" *matHeaderCellDef class="align-center">Alarme de Incêndio</mat-header-cell>
            <mat-cell fxFlex="16%" *matCellDef="let element" class="align-center">
              {{element.portFireAlarm ? 'Normal' : 'Em alarme'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="portIvaAlarm">
            <mat-header-cell fxFlex="16%" *matHeaderCellDef class="align-center">Alarme IVA</mat-header-cell>
            <mat-cell fxFlex="16%" *matCellDef="let element" class="align-center">
              {{element.portIvaAlarm ? 'Normal' : 'Em alarme'}}
            </mat-cell>
          </ng-container>

        <!-- </div> -->


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <h2 *ngIf="results.length==0 && !firstSearch">Nenhum resultado encontrado. Tente alterar sua pesquisa.</h2>

    <app-pagination [skip]="skip" [pageSize]="pageSize" [totalCount]="totalCount" (pageChanged)="pageChanged($event)">
    </app-pagination>
  </section>
</div>