.client {
    text-align: left!important;
}

.small-font {
    font-size: 10px;
}

.center-content {
    place-content: center;
}

mat-header-row, mat-header-cell, mat-cell {
    text-align: center!important;
}

.align-center {
    place-content: center;
}


/* PRINT STYLE ----------------------------------------------------------------------------*/
@media print {

    @page {size: landscape}

    mat-header-cell, .small-font {
        font-size: 10px!important;
    }
    .small-font {
        font-size: 8px!important;
    }
    .client, .client-header {
        max-width: 150px!important; min-width: 150px!important;
    }

    .step-column {
        display: none;
    }

    /* .step, .step.done {
        max-width: 20px!important; min-width: 20px!important;
        fill: transparent!important;
    }
    .step .step-text {    
        position: absolute;
        width: 16px; height: 16px; line-height: 16px;
        text-align: center; vertical-align: middle;
        left: 0px;
        font-weight: bold;
        font-size: 8px;
    }     */

    .approver-signature {
        display: block;
    }
    
    
}