<html>
    <body>
        <img src="@(Model.siteUrl)/images/custom/appLogo.png" width="50" height="50" />
        <h1>Senha alterada</h1>
        <p>
            Sua senha foi alterada.
        </p>
        <p>
            Se você não solicitou a troca de sua senha, por favor, entre com contato com o administrador do sistema.
        </p>        

        <a href="@Model.siteUrl">@Model.siteName</a>
    </body>
</html>