<html>
    <body>
        <img src="@(Model.siteUrl)/images/custom/appLogo.png" width="50" height="50" />
        <h1>Password changed</h1>
        <p>
            Your password was changed.
        </p>
        <p>
            If you do not request a password change, please contact the system admin.
        </p>        

        <a href="@Model.siteUrl">@Model.siteName</a>
    </body>
</html>