<form novalidate class="container" [formGroup]="form" autocomplete="off">
  <div class="body-content-top">
    <section class="body-wrapper">

      <div class="headline" fxLayout>
        <button mat-icon-button routerLink="">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="mat-h1">{{pageTitle}}</div>

        <div class="buttonBoxArea right" *ngIf="dashboard.deviceId!=''">
          <button mat-raised-button color="primary" (click)="cleanUpdateData()">
            <mat-icon>autorenew</mat-icon>
            <span>Atualizar informações</span>
          </button>
        </div>
      </div>

      <div fxLayout="column">

        <!-- MOBILE -->
        <mat-card *ngIf="isMobile">
          <mat-card-header fxFlex="100%">
            <div style="padding-right: 35px;">
              <img src="{{'../../../assets/' + getNameLogoClient + '.png'}}" class="image-avatar" />
            </div>
            <div class="title-page">
              <p>
                <strong>{{userName}}</strong>
              </p>
              <p *ngIf="showDashboard">
                <strong>Informações de Campo</strong>
              </p>
            </div>
            <p>
              <strong *ngIf="!showDashboard" style="color: red; font-size: 16px;">Nenhuma informação encontrada para o dispositivo selecionado.</strong>
            </p>
          </mat-card-header>
        </mat-card>

        <!-- MOBILE -->
        <mat-card *ngIf="isMobile" style="margin-top: 15px;height: 170px;">
          <div class="title-page">
            <p class="icon-text" *ngIf="showDashboard">
              <mat-icon style="vertical-align: bottom;">timelapse</mat-icon>
              <label style="margin-left: 5px;">Última Atualização {{dashboard.date | date: 'dd/MM/yyyy HH:mm:ss'}}</label>
            </p>
          </div>

          <mat-form-field floatLabel="never" appearance="outline" fxFlex="270px" style="bottom: -35px;">
            <mat-label style="font-size: 14px;">Selecione uma data</mat-label>
            <lib-datetime-picker readonly formControlName="dateFilter"></lib-datetime-picker>
          </mat-form-field>

          <div class="buttons_back_forward_mobile">
            <button mat-raised-button color="primary" (click)="back()" class="button_back">
              <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-raised-button color="primary" (click)="next()">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </mat-card>


        <!-- DESKTOP -->
        <mat-card *ngIf="!isMobile">
          <mat-card-header fxFlex="75%" style="margin-bottom: 20px;">

            <div style="padding-right: 35px; margin-top: 22px;">
              <img src="{{'../../../assets/' + getNameLogoClient + '.png'}}" class="image-avatar" />
            </div>

            <div class="title-page">
              <p>
                <strong>{{userName}}</strong>
              </p>
              <p *ngIf="showDashboard">
                <strong>Informações de Campo</strong>
              </p>
              <p class="icon-text" *ngIf="showDashboard">
                <mat-icon style="vertical-align: bottom;">timelapse</mat-icon>
                <label style="margin-left: 5px;">Última Atualização {{dashboard.date | date: 'dd/MM/yyyy HH:mm:ss'}}</label>
              </p>
              <p>
                <strong *ngIf="!showDashboard" style="color: red; font-size: 16px;">Nenhuma informação encontrada para o dispositivo selecionado.</strong>
              </p>
            </div>
          </mat-card-header>

          <mat-form-field floatLabel="never" appearance="outline" fxFlex="270px">
            <mat-label style="font-size: 14px;">Selecione uma data</mat-label>
            <lib-datetime-picker readonly formControlName="dateFilter"></lib-datetime-picker>
          </mat-form-field>

          <div class="buttons_back_forward">
            <button mat-raised-button color="primary" (click)="back()" class="button_back">
              <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-raised-button color="primary" (click)="next()">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>

        </mat-card>

        <app-serial-model [deviceId]="deviceId"></app-serial-model>

        <div class="container resultsContainer info-block-a" fxLayout="row wrap" fxLayout.xs="column">
          
          <mat-card class="card-info">
            <mat-card-header style="overflow: hidden" fxFlex="75%" matTooltip="Vazão Instantânea">
              <mat-card-title>
                <h5 class="title-info">Vazão Instantânea</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.vazao}}</strong>
                <span class="format-info">m³/h</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/vazao.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info">
            <mat-card-header style="overflow: hidden" fxFlex="75%" matTooltip="Totalização">
              <mat-card-subtitle style="margin-top: 15px;">
                <h5 class="title-info">Totalização 1</h5>
                <strong class="value-info">{{dashboard.partial}}</strong>
                <span class="format-info">m³/h</span>
              </mat-card-subtitle>

              <mat-card-title>
                <h5 class="title-info">Totalização 2</h5>
                <strong class="value-info">{{dashboard.totalizacao}}</strong>
                <span class="format-info">m³</span>
              </mat-card-title>
            </mat-card-header>

            <div class="position">
              <button mat-raised-button color="primary" (click)="cleanPartial()" style="top: 15px;right: 15px;">
                <span>Zerar</span>
              </button>

              <div class="header">
                <div mat-card-avatar style="margin-top: 40px;">
                  <img src="../../../assets/totalizadores.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info">
            <mat-card-header style="overflow: hidden" fxFlex="75%" matTooltip="Calha">
              <mat-card-title>
                <h5 class="title-info">Calha</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.calha}}</strong>
                <!-- <span class="format-info">Unid</span> -->
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/{{dashboard.calhaImage}}.png" class="image-avatar"/>
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info card-info-final">
            <mat-card-header style="overflow: hidden" fxFlex="75%" matTooltip="Alerta">
              <mat-card-title>
                <h5 class="title-info">Alerta</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.calhaAlerta}}</strong>
                <!-- <span class="format-info">seg</span> -->
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/calhaAlerta.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>
        </div>

      </div>

      <!-- <mat-slide-toggle class="change-device" [checked]="changeDevice" (change)="changeStatus()">
        Alterar informações do dispositivo (número máximo de envios por dia, tempo de transmissão...)
      </mat-slide-toggle>

      <div *ngIf="changeDevice">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left"
          class="top-changes">

          <mat-form-field appearance="outline" fxFlex="15%">
            <mat-label>Número máximo de envios por dia</mat-label>
            <input matInput autocomplete="off" maxlength="3" type="number" min="1" max="140"
              formControlName="numeroEnvios">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tempo de transmissão</mat-label>
            <input matInput autocomplete="off" type="number" min="11" formControlName="tempoTransmissao">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="15%">
            <mat-label>Transmissão em</mat-label>
            <mat-select formControlName="tipoEnvio">
              <mat-option value="false">Segundos</mat-option>
              <mat-option value="true">Minutos</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="buttonBoxArea right" *ngIf="dashboard.deviceId!=''">
          <button mat-raised-button color="primary" (click)="openConfirmDeleteDialog()">
            <mat-icon>send</mat-icon>
            <span>Enviar alterações</span>
          </button>
        </div>
      </div> -->

    </section>

  </div>

  <h2 *ngIf="dashboard===null">Nenhuma informação encontrada para o disposivo selecionado.</h2>

  <section class="body-wrapper body-content-bottom" fxLayout="row" fxLayoutGap="16px">
    <svg class="mark">
      <circle cx="16" cy="16" r="16" />
    </svg>
    <button mat-button fxFlexLayout="start" type="button" routerLink="">voltar</button>
  </section>
</form>