<?xml version="1.0" encoding="utf-8"?>
<ArrayOfCrossLinkArea xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- <CrossLinkArea>
    <Area>Home</Area>
    <Description>Home</Description>
  </CrossLinkArea>
  <CrossLinkArea>
    <Area>LeftBanner</Area>
    <Description>Left Banner</Description>
  </CrossLinkArea> -->
</ArrayOfCrossLinkArea>