<?xml version="1.0" encoding="utf-8"?>
<ArrayOfContentKind xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!--  
  <ContentKind>
    <Kind></Kind>
    <FriendlyName></FriendlyName>
    <FriendlyPluralName></FriendlyPluralName>
    <CaptureController></CaptureController>
    <CaptureListView></CaptureListView>
    <CaptureDetailView></CaptureDetailView>
    <AnyTimeDefaultFilter></AnyTimeDefaultFilter>
    <NameDefaultFilter></NameTimeDefaultFilter>
    <DisplayOrder>1</DisplayOrder>
    <Locations>
      <string>/</string>      
    </Locations>    
    <Tags>
      <string></string>
    </Tags>
    <RequiredRolesToEdit>
      <string>ADM_CMS_XXX</string>
    </RequiredRolesToEdit>
  </ContentKind>
  -->

</ArrayOfContentKind>