.buttons_back_forward {
    display: inline-flex;
    position: absolute;
    bottom: 20px;
    right: 23px;
}
.buttons_back_forward_mobile {
    display: inline-flex;
    position: absolute;
    bottom: 6px;
}