<div class="body-content">
    <section class="body-wrapper">
            
        <div class="headline" fxLayout>    
            <div class="mat-h1" i18n="@@AccessDenied">Access denied</div>
        </div>

        <mat-icon style="font-size: 128px; color: lightgray">pan_tool</mat-icon>
    
        <p i18n="@@WARNNING" style="font-weight: bold; margin-top: 25px; color: gray;">WARNNING</p>
        <p i18n="@@Home_restrict_alert" style="color: gray;">        
            This system is restricted to authorized users ONLY.
            Unauthorized access, use, misuse, or modification of this computer system or of the data contained herein or in transmit to/from this system constitutes violation of state law, and may subject the individual to criminal and civil penalties.         
            Please provide your credentials using the sign in button.
        </p>

        <p>
            <a href="#" (click)="signInAgain()" i18n="@@ClickHere">Click here</a>&nbsp;
            <span i18n="@@ToSignInAgain">to sign in again.</span>
        </p>
    </section>  
  </div>