<form novalidate class="container" [formGroup]="form" autocomplete="off">
  <div class="body-content-top">
    <section class="body-wrapper">

      <div class="headline" fxLayout>
        <button mat-icon-button routerLink="">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="mat-h1">{{pageTitle}}</div>

        <div class="buttonBoxArea right" *ngIf="dashboard.deviceId!=''">
          <button mat-raised-button color="primary" (click)="updateData()">
            <mat-icon>autorenew</mat-icon>
            <span>Atualizar informações</span>
          </button>
        </div>
      </div>

      <!-- <div *ngIf="dashboard!=null" class="container"> -->
      <div fxLayout="column">

        <mat-card>
          <mat-card-header fxFlex="75%">
            <div class="title-page">
              <span><strong>Informações de Estado</strong></span>
            </div>
          </mat-card-header>

          <div class="position">
            <div class="header">
              <mat-icon>timelapse</mat-icon>
              <span class="icon-text">{{dashboard.date | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
            </div>
          </div>
        </mat-card>

        <div class="container resultsContainer info-block-a" fxLayout="row wrap" fxLayout.xs="column">
          <mat-card class="card-info">
            <mat-card-header style="overflow: hidden" fxFlex="100%">
              <mat-card-title>
                <h5 class="title-info">Temperatura</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.temperature}}</strong>
                <span class="format-info">°C</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/temperatura.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info">
            <mat-card-header style="overflow: hidden" fxFlex="100%">
              <mat-card-title>
                <h5 class="title-info">pH</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.ph}}</strong>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/ph.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info">
            <mat-card-header style="overflow: hidden" fxFlex="100%">
              <mat-card-title>
                <h5 class="title-info">Flúor</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.fluor}}</strong>
                <span class="format-info">ppm</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/fluor.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="container resultsContainer info-block-a" fxLayout="row wrap" fxLayout.xs="column">
          <mat-card class="card-info">
            <mat-card-header style="overflow: hidden" fxFlex="75%">
              <mat-card-title>
                <h5 class="title-info">Cloro</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.cloro}}</strong>
                <span class="format-info">ppm</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/cloro.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info">
            <mat-card-header style="overflow: hidden" fxFlex="75%">
              <mat-card-title>
                <h5 class="title-info">Turbidez</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.turbidez}}</strong>
                <span class="format-info">NTU</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/turbidez.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info card-info-final">
            <mat-card-header style="overflow: hidden" fxFlex="75%">
              <mat-card-title>
                <h5 class="title-info">Relé 1</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.rele?.rele1}}</strong>
                <span class="format-info">%</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/rele.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>
        </div>

        <div class="container resultsContainer info-block-a" fxLayout="row wrap" fxLayout.xs="column">
          <mat-card class="card-info-last">
            <mat-card-header style="overflow: hidden" fxFlex="75%">
              <mat-card-title>
                <h5 class="title-info">Relé 2</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.rele?.rele2}}</strong>
                <span class="format-info">%</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/rele.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info-last">
            <mat-card-header style="overflow: hidden" fxFlex="75%">
              <mat-card-title>
                <h5 class="title-info">Relé 3</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.rele?.rele3}}</strong>
                <span class="format-info">%</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/rele.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info-last">
            <mat-card-header style="overflow: hidden" fxFlex="75%">
              <mat-card-title>
                <h5 class="title-info">Relé 4</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.rele?.rele4}}</strong>
                <span class="format-info">%</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/rele.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="card-info-last card-info-final">
            <mat-card-header style="overflow: hidden" fxFlex="75%">
              <mat-card-title>
                <h5 class="title-info">Relé 5</h5>
              </mat-card-title>
              <mat-card-subtitle>
                <strong class="value-info">{{dashboard.rele?.rele5}}</strong>
                <span class="format-info">%</span>
              </mat-card-subtitle>
            </mat-card-header>

            <div class="position">
              <div class="header">
                <div mat-card-avatar>
                  <img src="../../../assets/rele.png" class="image-avatar" />
                </div>
              </div>
            </div>
          </mat-card>
        </div>

        <!-- <div style="width:100%">
          <div class="card">
            <div class="card-body border-top p-0">
              <div class="table-responsive-sm">
                <table class="table table-striped table-bordered first">
                  <tbody>
                    <tr>
                      <td>Tipo de envio</td>
                      <td width="120"><span
                          class="badge badge-success">{{dashboard.bits.tipoEnvio ? 'Por evento' : 'Por tempo'}}</span>
                      </td>
                      <td>Tempo de transmissão</td>
                      <td width="120"><span
                          class="badge badge-success">{{dashboard.bits.baseTempoUpLink ? dashboard.periodoTransmissao + ' Minutos' : dashboard.periodoTransmissao + ' Segundos'}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <!-- <mat-slide-toggle class="change-device" [checked]="changeDevice" (change)="changeStatus()">
        Alterar informações do dispositivo (número máximo de envios por dia, tempo de transmissão...)
      </mat-slide-toggle>

      <div *ngIf="changeDevice">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="left"
          class="top-changes">

          <mat-form-field appearance="outline" fxFlex="15%">
            <mat-label>Número máximo de envios por dia</mat-label>
            <input matInput autocomplete="off" maxlength="3" type="number" min="1" max="140"
              formControlName="numeroEnvios">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Tempo de transmissão</mat-label>
            <input matInput autocomplete="off" type="number" min="11" formControlName="tempoTransmissao">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="15%">
            <mat-label>Transmissão em</mat-label>
            <mat-select formControlName="tipoEnvio">
              <mat-option value="false">Segundos</mat-option>
              <mat-option value="true">Minutos</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="buttonBoxArea right" *ngIf="dashboard.deviceId!=''">
          <button mat-raised-button color="primary" (click)="openConfirmDeleteDialog()">
            <mat-icon>send</mat-icon>
            <span>Enviar alterações</span>
          </button>
        </div>
      </div> -->

    </section>

  </div>

  <h2 *ngIf="dashboard===null">Nenhuma informação encontrada para o disposivo selecionado.</h2>

  <section class="body-wrapper body-content-bottom" fxLayout="row" fxLayoutGap="16px">
    <svg class="mark">
      <circle cx="16" cy="16" r="16" /></svg>
    <button mat-button fxFlexLayout="start" type="button" routerLink="">voltar</button>
  </section>
</form>