.client {
    text-align: left!important;
}

.small-font {
    font-size: 10px;
}

.center-content {
    place-content: center;
}

mat-header-row, mat-header-cell, mat-cell {
    text-align: center!important;
}

.align-center {
    place-content: center;
}


/* PRINT STYLE ----------------------------------------------------------------------------*/
@media print {

    @page {size: landscape}

    mat-header-cell, .small-font {
        font-size: 10px!important;
    }
    .small-font {
        font-size: 8px!important;
    }
    .client, .client-header {
        max-width: 150px!important; min-width: 150px!important;
    }

    .step-column {
        display: none;
    }

    .approver-signature {
        display: block;
    }
    
    
}

.notification-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .notification-margin {
    margin: 0 10px;
  }
  
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }